<div class="row justify-content-center align-items-center container">
  <fieldset class="container row justify-content-center col-10">
    <div class="mb-3 col-3 row m-3">
      <label for="inputControlGridWidth" class="col-xs-3 col-sm-auto col-form-label">Grid width:</label>
      <input id="inputControlGridWidth" class="form-control" type="number" [(ngModel)]="gridWidth">
    </div>
    <div class="mb-3 col-3 row m-3">
      <label for="inputControlGridHeight" class="col-xs-3 col-sm-auto col-form-label">Grid Height:</label>
      <input id="inputControlGridHeight" class="form-control" type="number" [(ngModel)]="gridHeight">
    </div>
  </fieldset>

  <fieldset class="container row justify-content-center col-10">
    <div class="mb-3 col-3 row form-switch align-items-center justify-content-center">
      <input id="inputControlGridShowInfo" class="form-check-input" type="checkbox" [(ngModel)]="showGridInfo">
      <label for="inputControlGridShowInfo" style="max-width: fit-content;" class="form-check-label">Show Info</label>
    </div>
  </fieldset>

  <hr>
  <app-grid class="row justify-content-center text-left col-12" [showInfo]="showGridInfo" [width]="gridWidth"
    [height]="gridHeight"></app-grid>
</div>




<router-outlet></router-outlet>
